numpy==1.19.4
networkx==2.5
pandas==0.25.3
pyspark==3.0.1
python-dateutil==2.8.1
pytz==2020.1
pyarrow==2.0.0
plotly==4.12.0
jupyterlab==3.0.14
auto-sklearn==0.10.0
ipywidgets==7.5.1
dash==1.17.0
jupyter-dash==0.3.1
scikit-multiflow==0.5.3
prefect==0.13.16
statsmodels==0.12.1
dash-bootstrap-components==0.12.2
mlflow==1.18.0
scipy==1.4.1